@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}
section{
    margin: 80px 40px;
    text-align: center;
    padding: 30px 70px;
}
p {
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
    margin-bottom: 30px;
}
button {
    padding: 12px;
    font-size:18px;
    border: 1px solid #999;
    color: #0D1321;
    background:transparent;
    font-weight: 600;
    border-radius: 5px;
 }
.section-title{
    color:#0D1321;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;

}
main {
    width: 1140px;
    margin: 0px auto;
}
/* header */
header{
  margin: 20px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav > h2 {
    font-weight: bolder;
}

/* banner */
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 10px 0px;
}
.img {
 width: 240px;
 height: 240px;
 margin: auto;
 margin-bottom: 10px;
}
.img img{
    max-width: 100%;
}
.banner-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.banner-description h1 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 68px;
    /* margin-bottom: 10px; */
}

.btn{
    background: #0D1321;
    padding: 19px;
    color: white;
    text-decoration: none;
    width: 244px;
    margin: 10px auto;
   border-radius: 8px;
}
 /* Development */

 .development {
    background: #FAFAFB;
    text-align: center;
   
 }

 .cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    
 }
 .card {
    background: #FCFCFD;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 10px 0px #FAFAFB;
 }
 .card2{
    display: flex;
    background: #FCFCFD;
    justify-content:space-evenly;
    padding: 20px;
    box-shadow: 0px 10px 0px #FAFAFB;
 }
 .card-content {
    text-align: left;
    width: 477px;
 }
 .card-content h5 {
    font-weight: bold;
    font-size: 24px;
    margin: 5px 10px 15px 0px;
 }
 .card-content img {
    width: 274px;
 }

 /* inspire */
.inspiration {
    max-width: 100%;
}
.video {
    width: 100%; 
    border-radius: 10px;
    text-align: center;
}

.video iframe{
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
}

/* targets */
.target-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.target-card {
    text-align: left;
    width: 364px;
    padding: 20px;
   border-radius: 10px;
}
.target-card img {
    width: 56px;
    margin: 10px 0px;
}
.target-card h5 {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0px;
}
.target-card a {
    color:#0D1321;
    font-weight: 600;
}

.html-card {
    background-color: #FFF6F4;
}
.css-card{
    background-color: #F2F6FE;
}
.js-card{
   background-color: #FFFDF2;
}
/* support */
.support {
    background-image: url(../assets/handshake.jpg);
    max-width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.support-content{
    width: 730px;
    margin: 5px auto;
}
.support h3 {
    color:white;
}
.support p {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.submitbtn > input {
    padding: 20px;
    border-radius: 10px;
}
